.sliders {
    position: relative;
    display: flex;
    overflow-x: hidden;
}
.slider img {
    width: 100vw;
    height: 100vh;
}
.buttons {
    position: absolute;
    bottom: 80px;
    left: 80px;
}
